<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h2><%= title %></h2>

      <div class="neuctr">
        <% messages.map((message) => { %>
        <div class="neu card">
          <div class="line">
            <p><%= message.user %></p>
            <p><%= message.added %></p>
          </div>
          <p class="text"><%= message.text %></p>

          <button>Details</button>
        </div>
        <% }) %>
      </div>

      <a  class="button" href="/new">Add new Message!</a>
    </main>
  </body>
</html>
