<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h2><%= title %></h2>
      <ul>
        <% messages.map((message) => { %>
          <li><%= message.user %> at <%= message.added %>: <%= message.text %></li>
        <% }) %>
      </ul>
      
      <a href="/new">Add new Message!</a>
    </main>
  </body>
</html>
