<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>

    <main>
      <div class="mainarea">
        <h2><%= title %></h2>
        <div class="neuctr">
          <% 
          for (let i = messages.length-1; i >= 0; i--){
           %>
          <div class="neu card">
            <div class="line">
              <p><%= messages[i].name %></p>
              <p><%= messages[i].added %></p>
            </div>
            <p class="text"><%= messages[i].text %></p>
            <form method="POST" action="/info" class="center">
              <button type="submit" name="id" value=<%= messages[i].id %>>
                Details
              </button>
            </form>
          </div>
          <% } %>
        </div>
      </div>

      <a class="button" href="/new">Add new Message!</a>
    </main>
  </body>
</html>
